<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee</title>
	<link rel="stylesheet" th:href="@{/css/addEmployee.css}">
</head>
<body>
	<div class="container">
		<div class="login-form">
			<form th:action="@{/addEmployee}">
				<div class="header">
					<h2>Register</h2>
				</div>
				<table>
					<tr>
						<td>Name:</td>
						<td><input type=text name="name" id="ip" placeholder="Enter your name"></td>
					</tr>
					<tr>
						<td>Department:</td>
						<td><input type=text name="department" id="ip" placeholder="Enter your department"></td>
					</tr>
					<tr>
						<td>Salary:</td>
						<td><input type=text name="salary" id="ip" placeholder="Enter your salary"></td>
					</tr>
					<tr>
						<td>Submit:</td>
						<td><input type=submit value="Add me !" id="btn"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>