<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee</title>
	<link rel="stylesheet" th:href="@{/css/updateEmployee.css}">
</head>
<body>
	<div class="container">
		<div class="login-form">
			<form th:action="@{/Home}">
				<div class="header">
					<h2>Found Employee</h2>
				</div>
				<table>
					<tr>
						<td>Emp Id:</td>
						<td><h3 th:text="${id}">id</h1></td>
					</tr>
					<tr>
						<td>Name:</td>
						<td><h3 th:text="${name}">name</h1></td>
					</tr>
					<tr>
						<td>Department:</td>
						<td><h3 th:text="${department}">department</h1></td>
					</tr>
					<tr>
						<td>Salary:</td>
						<td><h3 th:text="${salary}">salary</h1></td>
					</tr>
					<tr>
						<td>Submit:</td>
						<td><input type=submit value="Home" id="btn"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>